.design{
    background-color: blueviolet;
    color: white;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 400px;
    margin-top: 50px;
}
h1{
    margin-left: 450px;
}